[submodule "extensions/agent"]
	path = extensions/agent
	url = https://github.com/itsmygithubacct/tmux-browse-agent.git
	branch = main
[submodule "extensions/sandbox"]
	path = extensions/sandbox
	url = https://github.com/itsmygithubacct/tmux-browse-sandbox.git
	branch = main
[submodule "extensions/qr"]
	path = extensions/qr
	url = https://github.com/itsmygithubacct/tmux-browse-qr.git
	branch = main
[submodule "extensions/federation"]
	path = extensions/federation
	url = https://github.com/itsmygithubacct/tmux-browse-federation.git
	branch = main
